absl-py==2.1.0
accelerate==0.31.0
addict==2.4.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
aiowsgi==0.8
altair==5.3.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
asttokens==2.4.0
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
bitsandbytes==0.43.1
blobfile==2.1.1
cachetools==5.3.3
certifi==2023.7.22
cffi==1.15.1
chardet==4.0.0
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==3.0.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contextlib2==21.6.0
contourpy==1.1.1
cycler==0.11.0
Cython==0.29.36
datasets==2.20.0
debugpy @ file:///croot/debugpy_1690905042057/work
decorator==4.4.2
deepspeed==0.12.6
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dnspython==2.6.1
docker-pycreds==0.4.0
docopt==0.6.2
docstring_parser==0.16
einops==0.6.1
einops-exts==0.0.4
email_validator==2.1.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
etils==1.3.0
eval_type_backport==0.2.0
evaluate==0.4.2
evdev==1.7.1
exceptiongroup==1.1.3
executing==1.2.0
fairscale==0.4.13
fastapi==0.111.0
fastapi-cli==0.0.4
ffmpy==0.3.2
filelock==3.14.0
fire==0.6.0
flash-attn==2.5.9.post1
fonttools==4.43.1
free-mujoco-py==2.1.6
frozenlist==1.4.1
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
glfw==2.7.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
gradio==4.16.0
gradio_client==0.8.1
grpcio==1.64.1
gym==0.21.0
gym-notebook-wrapper==1.3.3
gym-notices==0.0.8
h11==0.14.0
h5py==3.11.0
hjson==3.1.0
httpcore==0.17.3
httptools==0.6.1
httpx==0.24.0
huggingface-hub==0.23.3
hydra-core==1.3.2
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.5.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
iniconfig==2.0.0
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1708996548741/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
-e git+https://github.com/NVIDIA-Omniverse/IsaacGymEnvs@665c32170d84b4be66722eea405a1e08b6e7f761#egg=isaacgymenvs
jedi==0.19.0
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1710257397447/work
kiwisolver==1.4.5
# Editable install with no version control (llava==1.2.2.post1)
-e /home/xilun/ET_robot/LLaVA
llvmlite==0.41.1
lxml==4.9.3
Markdown==3.6
markdown-it-py==3.0.0
markdown2==2.4.13
MarkupSafe==2.1.3
matplotlib==3.7.5
matplotlib-inline==0.1.6
mdurl==0.1.2
monotonic==1.6
moviepy==1.0.3
mpmath==1.3.0
mujoco==3.1.6
mujoco-py==2.1.2.14
multidict==6.0.5
multiprocess==0.70.16
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.1
ninja==1.11.1.1
nltk==3.8.1
numba==0.58.1
numpy==1.24.4
numpy-quaternion==2022.4.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
-e git+https://github.com/NVlabs/curobo.git@b53d79ebb5a08096ed914b6fabc6c2d36d03d5e0#egg=nvidia_curobo
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
omni==0.0.2
openai==0.28.0
opencv-python==4.10.0.82
opencv-python-headless==4.10.0.84
orjson==3.10.3
packaging==23.2
pandas==2.0.3
parso==0.8.3
pathtools==0.1.2
peft==0.11.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
pluggy==1.3.0
proglog==0.1.10
promise==2.3
prompt-toolkit==3.0.39
protobuf==4.25.3
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycparser==2.21
pycryptodomex==3.20.0
pydantic==2.7.3
pydantic_core==2.18.4
pydub==0.25.1
Pygments==2.16.1
pynput==1.7.7
pynvml==11.5.0
PyOpenGL==3.1.7
pyparsing==3.1.1
pytest==7.4.3
python-dateutil==2.8.2
python-dotenv==1.0.1
python-magic==0.4.27
python-multipart==0.0.9
python-xlib==0.33
pytz==2024.1
PyVirtualDisplay==3.0
PyYAML==6.0.1
pyzmq @ file:///croot/pyzmq_1705605076900/work
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.7.1
rl_games==1.6.1
roboflow==1.1.34
-e git+https://github.com/XilunZhangRobo/Esperanto-Robot.git@9ea5a88d2437fc867b735a8afcde00b564ddb250#egg=robosuite&subdirectory=robosuite
rouge-score==0.1.2
rpds-py==0.18.1
rsa==4.9
ruff==0.4.8
safetensors==0.4.3
schema==0.7.5
scikit-learn==1.2.2
scipy==1.10.0
semantic-version==2.10.0
sentencepiece==0.1.99
sentry-sdk==2.5.0
setproctitle==1.3.3
setuptools-scm==8.0.4
shellingham==1.5.4
shortuuid==1.0.11
shtab==1.7.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
stack-data==0.6.2
starlette==0.37.2
supervision==0.21.0
svgwrite==1.4.3
sympy==1.12
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
termcolor==2.4.0
threadpoolctl==3.5.0
tiktoken==0.4.0
timm==0.6.13
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.1
torch==2.1.2+cu118
torchaudio==2.1.2+cu118
torchtyping==0.1.4
torchvision==0.16.2
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827257044/work
tqdm==4.66.4
traitlets==5.9.0
transformers @ git+https://github.com/huggingface/transformers@eed9ed679878ada2f6d2eefccdbda368cabc88b1
trimesh==4.0.1
triton==2.1.0
trl==0.9.4
typeguard==4.1.5
typer==0.12.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717287769032/work
tyro==0.8.4
tzdata==2024.1
ujson==5.10.0
urllib3==1.26.16
uvicorn==0.30.1
uvloop==0.19.0
waitress==2.1.2
wandb==0.17.2
warp-lang==0.10.1
watchfiles==0.22.0
wavedrom==2.0.3.post3
wcfg==6
wcwidth==0.2.6
WebOb==1.8.7
websockets==11.0.3
Werkzeug==2.3.7
wget==3.2
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
yourdfpy==0.0.53
zipp==3.16.2
